body, table, div, p, dl, td, th,
.title,
table.directory,
#powerTip div {
	font-family: "DejaVu Sans", sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
}

code, pre {
	font-family: "DejaVu Sans Mono", monospace;
}

code {
	background: #fafafa;
	border: 1px solid #eee;
	padding: 0em 0.3em;
	border-radius: 3px;
}

#titlearea {
	border: none;
	border-bottom: 1px solid #5373B4;
}

.title {
	font-size: 2em;
}

.contents p,
.contents .section {
	max-width: 55em;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}


#projectname,
#projectbrief,
#projectnumber {
	font-family: inherit;
	font-weight: normal;
}


.navpath ul,
.navpath li,
.tabs, .tabs2, .tabs3 {
	font-family: inherit;
	background: #C4CFE5;
	text-shadow: none;
	text-decoration: none;
	outline: none;
	height: auto;
}

.navpath ul,
.navpath li,
.tablist li {
	background: #C4CFE5;
	line-height: 240%;
	list-style: none;
	height: auto;
}

.navpath li.navelem a,
.tablist a {
	text-shadow: none;
	background: transparent;
	border-right: 1px solid #5373B4;
	height: auto;
}

.navpath li.navelem a:hover,
.navpath li.navelem a:focus,
.tablist a:hover,
.tablist a:focus {
	background: transparent;
	color: #6884BD;
	text-shadow: none;
}

.navpath {
	border-top: 1px solid #5373B4;
}

.navpath li.navelem {
	background-image:url('bc_s.png');
	background-repeat:no-repeat;
	background-position:right;
}

.navpath li.navelem a {
	border: none;
}


.memberdecls {
	width: 100%;
	box-sizing: border-box: 
}

.memitem {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
}

.memproto, dl.reflist dt {
        padding: 0.5em 0em;
	margin: 2em 0em 1em 0em;
        color: #253555;
        font-weight: bold;
        text-shadow: none;
	background: #FBFCFD;
	border: 1px solid #C4CFE5;
	border-left-width: 0.5em;
	border-right: none;
        /* opera specific markup */
        box-shadow: none;
        border-radius: 0px;
        /* firefox specific markup */
        -moz-box-shadow: none;
        -moz-border-radius: 0px;
        /* webkit specific markup */
        -webkit-box-shadow: none;
        -webkit-border-radius: 0px;
}

.memdoc, dl.reflist dd {
        border: none; 
        padding: 0em 0em 0em 3em;
        background: #FFFFFF;
        /* opera specific markup */
        border-radius: 0px;
        box-shadow: none;
        /* firefox specific markup */
        -moz-border-radius: 0px;
        -moz-box-shadow: none;
        /* webkit specific markup */
        -webkit-border-radius: 0px;
        -webkit-box-shadow: none;
}

span.mlabel {
        background-color: #728DC1;
	border-color: #728DC1;
	border-radius: 5px;
}

#MSearchBox .left,
#MSearchBox #MSearchField,
#MSearchBox .right {
	display: inline;
	float: none;
	position: static;
	background: #fff;
	outline: none;
	height: auto;
}

#MSearchBox,
#MSearchBox * {
	font-family: inherit;
}

#MSearchBox {
	background: #fff;
	border: 1px solid #90A5CE;
	border-radius: 5px;
	height: auto;
	width: auto;
	right: 1em;
	margin: 0.4em 0em;
	padding: 0px;
}

#MSearchBox #MSearchField {
	width: 10em;
	padding: 0px 22px 0px 4px;
}

